.ipynb_checkpoints
__pycache__
.vscode
places.clean.json.gz
reviews.clean.json.gz
users.clean.json.gz

places_TX.json.gz
reviews_TX.json.gz

model/.ipynb_checkpoints
src/.ipynb_checkpoints

data/places.clean.json.gz
data/reviews.clean.json.gz
data/users.clean.json.gz

data/places_TX.json.gz
data/reviews_TX.json.gz

visualizaton/place_name_dict.plk
visualization/place_name_dict.pkl

data_result
data_vi_tphcm
data